@font-face {
  font-family: kaushan;
  src: url('../fonts/kaushan-script/KaushanScript-Regular.otf')
}

@font-face {
  font-family: proxima;
  src: url(../fonts/Proxima\ Nova\ Light.otf)
}

@font-face {
  font-family: proxima-bold;
  src: url(../fonts/Proxima\ Nova\ Semibold.otf)
}

@font-face {
  font-family: quicksand-bold;
  src: url(../fonts/quicksand/Quicksand-Bold.otf)
}

@font-face {
  font-family: quicksand;
  src: url('../fonts/quicksand/Quicksand-Regular.woff')
}

@font-face {
  font-family: roman;
  src: url(../fonts/romanserif_regular/RomanSerif.ttf)
}
